@using SportStore.WebUI.Models;
@model CategoryListView

<div class="panel-heading">Categories</div>
<div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" @((@Model.CurrentCategory == null || "Home" == @Model.CurrentCategory) ? " class = active" : "")>
            @Html.ActionLink("Home", "List", "Product")

        </li>

        @foreach (var link in Model.Categories)
        {
            <li role="presentation" @((link == @Model.CurrentCategory) ? "class = active" : "")>

                @Html.RouteLink(link, new
            {
                controller = "Product",
                action = "List",
                category = link,
                page = 1
            })
            </li>
        }
    </ul>
</div>